<table class="table">
  <thead>
    <th>Runlevel</th>
    <th>Count</th>
    <th>% of total</th>
    <th></th>
  </thead>
  <%= render partial: "simple_stats_rows", locals: { stats: @detailed_stats["runlevel"] }%>
</table>
