:where(.table) {
  caption-side: top;
  font-size: var(--text-sm);
  inline-size: var(--size-full);

  caption {
    color: var(--color-text-subtle);
    margin-block-start: var(--size-4);
  }

  thead {
    color: var(--color-text);
    background: light-dark(var(--gray-300),var(--gray-700));
  }

  tbody tr {
    border-block-start-width: var(--border);
    background: light-dark(var(--gray-100),var(--gray-900));
  }

  tr:hover {
    background-color: rgb(from var(--color-border-light) r g b / .5);
  }

  th {
    font-weight: var(--font-medium);
    text-align: start;
  }

  th, td {
    padding: var(--size-2);
  }

  th {
    background: light-dark(var(--gray-300),var(--gray-700));
  }

  tfoot {
    background-color: rgb(from var(--color-border-light) r g b / .5);
    border-block-start-width: var(--border);
    font-weight: var(--font-medium);
  }
}
