<div class="flex items-center gap">
  <%= link_to "/", class: "flex items-center gap mie-2" do %>
    <%= image_tag("mythtv.png") %>
  <% end %>
  <span class="font-bold">MythTV Hardware Profiles</span>
