<div class="hide@md" data-controller="dialog">
  <button type="button" class="btn btn--icon" data-action="dialog#showModal">
    <span class="icon icon--panel-left" style="--icon-size: 1.25rem" aria-hidden="true"></span>
    <span class="sr-only">Open menu</span>
  </button>

  <dialog class="sheet sheet--left" style="--sheet-size: 288px;" data-dialog-target="content" data-action="click->dialog#closeOnClickOutside">
    <div class="sheet__content p-2">
      <%= render "sidebar_menu" %>
    </div>
  </dialog>
</div>