<table class="table">
  <caption>
    Virtual Tuners per Cluster
  </caption>
  <tbody>
    <tr>
      <th>Virtual Tuner Minimum</th>
      <td><%= mythtv_stats["vtuner_info"]["min"] %></td>
    </tr>
    <tr>
      <th>Virtual Tuner Maximum</th>
      <td><%= mythtv_stats["vtuner_info"]["max"] %></td>
    </tr>
    <tr>
      <th>Virtual Tuner Average</th>
      <td><%= mythtv_stats["vtuner_info"]["average"] %></td>
    </tr>
    <tr>
      <th>Virtual Tuner Standard Deviation</th>
      <td><%= mythtv_stats["vtuner_info"]["stddev"] %></td>
    </tr>
  </tbody>
</table>
