<table class="table">
  <caption>
    Tuners per Cluster
  </caption>
  <tbody>
    <tr>
      <th>Cluster Tuner Minimum</th>
      <td><%= mythtv_stats["tuner_info"]["min"] %></td>
    </tr>
    <tr>
      <th>Cluster Tuner Maximum</th>
      <td><%= mythtv_stats["tuner_info"]["max"] %></td>
    </tr>
    <tr>
      <th>Cluster Tuner Average</th>
      <td><%= mythtv_stats["tuner_info"]["average"] %></td>
    </tr>
    <tr>
      <th>Cluster Tuner Standard Deviation</th>
      <td><%= mythtv_stats["tuner_info"]["stddev"] %></td>
    </tr>
  </tbody>
</table>
