<div class="accordion">
  <details name="my_accordion">
    <summary>Tuner Breakdown</summary>
    <p>
      <table class="table">
        <caption>
          Tuner Breakdown
        </caption>
        <thead>
          <th>Tuner Type</th>
          <th>Count</th>
          <th>% of total</th>
          <th></th>
        </thead>
        <%= render partial: "simple_stats_rows", locals: { stats: @mythtv_stats["tuner_breakdown"] }%>
      </table>
    </p>
  </details>
</div>
