<table class="table">
  <caption>
    Summary of MythTV Instances
  </caption>
  <tbody>
    <tr>
      <th>Total Active MythTV Hosts</th>
      <td><%= mythtv_stats["total"] %></td>
    </tr>
    <tr>
      <th>Total Active MythTV Clusters</th>
      <td><%= mythtv_stats["active"] %></td>
    </tr>
    <tr>
      <th>Total Tuners</th>
      <td><%= mythtv_stats["tuners_total"] %></td>
    </tr>
  </tbody>
</table>