<div>
  <h1 class="font-bold text-4xl">MythTV Stats</h1>
  <%= render partial: "mythtv_summary", locals: { mythtv_stats: @mythtv_stats } %>
  <br>
  <p>MythTV Stats</p>
  <%= render partial: "mythtv_details_tabs", locals: { mythtv_stats: @mythtv_stats } %>
</div>
