<%# locals: (devices:, show_class: false, show_recent: false) %>
<table class="table">
    <caption>
    Devices
    </caption>
    <thead>
    <tr>
        <th>Device</th>
        <th><%= show_class_or_arrival_header(show_class, show_recent) %></th>
    </tr>
    </thead>
    <tbody>
    <% devices.each do |device| %>
    <tr>
        <td><%= link_to device.description, reports_view_device_path(id: device.id) %></td>
        <td><%= show_class_or_arrival(device,show_class,show_recent) %></td>
    </tr>
    <% end %>
    </tbody>
</table>
