<table class="table">
  <caption>
    Most recent profiles with this device
  </caption>
  <thead>
    <th>Public UUID</th>
    <th>Vendor</th>
    <th>System</th>
  </thead>
  <tbody>
    <% device.unique_hosts(50).each do |host| %>
      <tr>
        <td><%= link_to host.host_pub_mapping.pub_uuid, reports_view_profile_path(uuid: host.host_pub_mapping.pub_uuid) %></td>
        <td><%= host.vendor.name %></td>
        <td><%= host.system %></td>
      </tr>
    <% end %>
  </tbody>
</table>
