<%= form_with url: main_app.reports_view_profile_path, method: :get, class: "flex flex-col gap", data: { controller: "form" } do |form| %>
  <div class="flex flex-col gap-half">
    <%= form.label "Enter your profile UUID:", class: "text-sm font-medium leading-none" %>
    <%= form.text_field :uuid, class: "input", data: { action: "keydown.enter->form#submit" } %>
  </div>
<% end %>
