<div class="gap">
  <h1 class="font-bold text-4xl">Recent Profiles & Devices</h1>
  <table class="table">
  <caption>
    Recently submitted profiles
  </caption>
  <thead>
    <tr>
      <th class="font-bold">Public UUID</th>
      <th class="font-bold">Last Update</th>
    </tr>
  </thead>
  <tbody>
    <% if not @hosts.nil? %>
    <% @hosts.each do |host| %>
    <tr>
      <td><%= link_to host.host_pub_mapping.pub_uuid, reports_view_profile_path(uuid: host.host_pub_mapping.pub_uuid) %></td>
      <td><%= host.updated_at %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</div>
<div class="gap">
  <%= render partial: "devices", locals: { devices: @devices, show_recent: true } %>
</div>
