<table class="table">
  <caption>
    Devices by Class
  </caption>
  <thead>
    <tr>
      <th>Device</th>
    </tr>
  </thead>
  <tbody>
    <% @devices[:description].each do |desc| %>
    <tr>
      <td><%= desc %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
